<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Terms of Use - LESION LAB</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: 'Open Sans', sans-serif;
            background: #f9f9f9;
            padding: 20px;
        }
        h2, h3 {
            color: #27374D;
        }
        p {
            color: #526D82;
        }
        .content {
            background: #fff;
            padding: 20px;
            border-radius: 5px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <header>
    <h1>Terms of Use</h1>
    <p>Last updated: April 11, 2024</p>
    </header>

    <div class="content">
    <h2>1. Introduction</h2>
    <p>By accessing <strong>LESION LAB</strong>, you agree to be bound by these Terms of Use.</p>

    <h2>2. Use of the Website</h2>
    <p>Prohibitions include:</p>
    <ul>
        <li>Engaging in any form of harassment or unauthorized marketing</li>
        <li>Using the site to distribute malware or other harmful code</li>
    </ul>

    <h2>3. Intellectual Property</h2>
    <p>All content on this website is the exclusive property of <strong>LESION LAB</strong>.</p>

    <h2>4. Disclaimer</h2>
    <p>The information provided on the website is for general informational purposes only.</p>

    <h2>5. Limitation of Liability</h2>
    <p><strong>LESION LAB</strong> will not be liable for any consequential damages that may be incurred from the use of our website.</p>

    <h2>6. Governing Law</h2>
    <p>These Terms are governed by the laws of Malaysia, and you agree to submit to the exclusive jurisdiction of the courts in this jurisdiction.</p>

    <h2>7. Contact Us</h2>
    <p> If you have any questions about this Privacy Policy, please contact us at <a href="#">lesionlab@gmail.com<a></p>
    </div>
